
<h2>Home Page!!!!</h2>
<br>
<hr>

<a href="/api/chat">Chat</a>
<script src="js/users.js"></script>
<script src="socket.io/socket.io.js"></script>
<script src="/js/products.js"></script>

<a href="/api/products">Lista de produtos registrados</a>


<br><br>

